<div class="min-h-screen bg-gray-700 flex justify-center items-center overflow-hidden relative">
  <%= render 'shared/flash'%>
	<div class="absolute w-60 h-60 rounded-xl bg-gray-600 -top-5 -left-16 z-1 transform rotate-45 hidden md:block">
	</div>
	<div class="absolute w-48 h-48 rounded-xl bg-gray-600 bottom-6 right-10 transform rotate-12 hidden md:block">
	</div>
	<div class="py-12 px-12 bg-white rounded-2xl shadow-xl z-20">
		<div>
			<h1 class="text-3xl font-bold text-center mb-4">Sign up</h1>
		</div>
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="field mb-5">
            <%= f.text_field :first_name, autofocus: true, placeholder:"Your First Name", class:"w-full px-2 py-2 text-gray-700 bg-gray-100 rounded" %>
          </div>
          <div class="field mb-5">
            <%= f.text_field :last_name, autofocus: true, placeholder:"Your Last Name", class:"w-full px-2 py-2 text-gray-700 bg-gray-100 rounded" %>
          </div>
          <div class="field mb-5">
            <%= f.text_field :discord, autofocus: true, placeholder:"Your Discord", class:"w-full px-2 py-2 text-gray-700 bg-gray-100 rounded" %>
          </div>
          <div class="field mb-5">
            <%= f.email_field :email, autofocus: true, placeholder:"Email", autocomplete: "email", class:"w-full px-2 py-2 text-gray-700 bg-gray-100 rounded" %>
          </div>
          <div class="field mb-5">
            <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password (6 characters min)", class:"w-full px-2 py-2 text-gray-700 bg-gray-100 rounded" %>
          </div>
            <div class="field mb-5">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Password confirmation", class:"w-full px-2 py-2 text-gray-700 bg-gray-100 rounded" %>
          </div>
          <div class="actions md:col-span-2 justify-center flex">
            <%=link_to new_user_registration_path do %>
              <%= f.submit "Sign up", class:"py-2 w-64 text-xl text-white bg-gray-600 rounded" %>
            <% end %>
          </div>
        <% end %>
    </div>
    <div class="text-center mt-6">
      <%=link_to new_user_session_path do %><button>Already have an account ?</button><% end %>
      </p>
    </div>
		</div>
		<div class="w-40 h-40 absolute bg-gray-600 rounded-full top-0 right-12 hidden md:block z-1"></div>
		<div class="w-20 h-40 absolute bg-gray-600 rounded-full bottom-20 left-10 transform rotate-45 hidden md:block z-1"></div>
	</div>
