<div class="md:flex justify-between">
  <% if user_signed_in? %>
    <h3 class="text-3xl font-medium text-slate-800">Welcome to your inventory
    <%= current_user.discord %> 🎉</h3>
  <%else%>
    <h3 class="text-3xl font-medium text-slate-800">Welcome to your inventory 🎉</h3>
  <% end %>
  <a href="/items/new">
    <button class="px-4 py-2 w-full my-2 md:my-0 font-medium tracking-wide text-white transition-colors duration-200 transform bg-gray-600 rounded-md hover:bg-gray-500 focus:outline-none focus:bg-indigo-500">
      Add an item
    </button>
  </a>
</div>

<div class="flex justify-between bg-indigo-200 shadow-md rounded p-2 mt-6 px-3">
  <div class="text-slate-700" >Have you seen a bug ? Please report it</div>
  <div>
    <a href="https://discordapp.com/users/676368725380956180">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
    </svg>
    </a>
  </div>
</div>
<!-- RESUME OF YOUR SELLER'S PROFILE-->
<div class="flex flex-col md:justify-between py-4 md:flex-row gap-4">
  <div class="bg-gray-200 p-8 md:w-1/3 w-full rounded shadow-sm relative">
    <h2 class="font-medium text-xl text-center">
    <%= @items.size %> items
    </h2>
    <div class="absolute bg-gray-400 top-0 left-0 p-1 rounded-br rounded-tl text-sm">Current stock</div>
  </div>
  <div class="bg-gray-200 p-8 md:w-1/3 w-full rounded shadow-sm relative">
    <h2 class="font-medium text-xl text-center">
      <%= @sales.size %> sales
    </h2>
    <div class="absolute bg-gray-400 top-0 left-0 p-1 rounded-br rounded-tl text-sm">Sales last 30 days</div>
  </div>
  <div class="bg-gray-200 p-8 md:w-1/3 w-full rounded shadow-sm relative">
    <h2 class="font-medium text-xl text-center">
      <%= @profit %>€
    </h2>
    <div class="absolute bg-gray-400 top-0 left-0 p-1 rounded-br rounded-tl text-sm">Benefit last 30 days</div>
  </div>
  <div class="bg-gray-200 p-8 md:w-1/3 w-full rounded shadow-sm relative">
    <h2 class="font-medium text-xl text-center">
      <% total = @items.inject(0) { |sum, item| sum + item.retail } %>
      <%= total %> €
    </h2>
    <div class="absolute bg-gray-400 top-0 left-0 p-1 rounded-br rounded-tl text-sm">Sleeping value</div>
  </div>
</div>
<div class="flex justify-end">
  <a id="charts" class="border-b border-b-slate-800 pb-0.5 text-xs+ font-medium text-slate-800">Show charts</a>
</div>
<!-- CHARTS -->
<div class="grid grid-cols-4 gap-4" id="charts-area">
  <div class="col-span-3">
    <h2 class="font-medium text-xl text-left mb-2">
      Sales past 30 days
    </h2>
  <%= line_chart Sale.group_by_day(:created_at).count %>
  </div>
  <div class="col-span-1">
    <h2 class="font-medium text-xl text-left mb-2">
      Brands allocation
    </h2>
    <%= pie_chart Item.group(:brand).count %>
  </div>
</div>
<!-- END CHARTS -->
<!-- TABLE OF ITEMS -->
<div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8 ">
    <div  class="flex h-8 items-center justify-between my-5">
      <h2 class="text-xl font-medium tracking-wide text-slate-700">
        Your last items
      </h2>
      <a href="/items" class="border-b border-b-slate-800 pb-0.5 text-xs+ font-medium text-slate-800">View All</a>
    </div>
    <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg rounded">

      <table class="min-w-full">
        <thead>
          <tr>
            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
              Name
            </th>
            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
              Sku
            </th>
             <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
              Brand
            </th>
            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
              Size
            </th>
            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
              Retailer
            </th>
            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
              Purchase price
            </th>
            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
              Purchase date
            </th>
            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
              Status
            </th>
            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
            </th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr>
            <% @items = Item.order(created_at: :desc).take(30) %>
            <% @items.take(30).each do |item| %>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= item.name %></td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= item.sku %></td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= item.brand %></td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= item.size %></td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= item.sku %></td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= item.retail %> €</td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= item.purchase_date.strftime("%d/%m/%Y") %></td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap">
                <% if item.sold == true %>
                  <p class="text-gray-900 hover:text-indigo-900 bg-green-200 px-4 py-2 rounded w-fit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-piggy-bank" viewBox="0 0 16 16">
                      <path d="M5 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0zm1.138-1.496A6.613 6.613 0 0 1 7.964 4.5c.666 0 1.303.097 1.893.273a.5.5 0 0 0 .286-.958A7.602 7.602 0 0 0 7.964 3.5c-.734 0-1.441.103-2.102.292a.5.5 0 1 0 .276.962z"/>
                      <path fill-rule="evenodd" d="M7.964 1.527c-2.977 0-5.571 1.704-6.32 4.125h-.55A1 1 0 0 0 .11 6.824l.254 1.46a1.5 1.5 0 0 0 1.478 1.243h.263c.3.513.688.978 1.145 1.382l-.729 2.477a.5.5 0 0 0 .48.641h2a.5.5 0 0 0 .471-.332l.482-1.351c.635.173 1.31.267 2.011.267.707 0 1.388-.095 2.028-.272l.543 1.372a.5.5 0 0 0 .465.316h2a.5.5 0 0 0 .478-.645l-.761-2.506C13.81 9.895 14.5 8.559 14.5 7.069c0-.145-.007-.29-.02-.431.261-.11.508-.266.705-.444.315.306.815.306.815-.417 0 .223-.5.223-.461-.026a.95.95 0 0 0 .09-.255.7.7 0 0 0-.202-.645.58.58 0 0 0-.707-.098.735.735 0 0 0-.375.562c-.024.243.082.48.32.654a2.112 2.112 0 0 1-.259.153c-.534-2.664-3.284-4.595-6.442-4.595zM2.516 6.26c.455-2.066 2.667-3.733 5.448-3.733 3.146 0 5.536 2.114 5.536 4.542 0 1.254-.624 2.41-1.67 3.248a.5.5 0 0 0-.165.535l.66 2.175h-.985l-.59-1.487a.5.5 0 0 0-.629-.288c-.661.23-1.39.359-2.157.359a6.558 6.558 0 0 1-2.157-.359.5.5 0 0 0-.635.304l-.525 1.471h-.979l.633-2.15a.5.5 0 0 0-.17-.534 4.649 4.649 0 0 1-1.284-1.541.5.5 0 0 0-.446-.275h-.56a.5.5 0 0 1-.492-.414l-.254-1.46h.933a.5.5 0 0 0 .488-.393zm12.621-.857a.565.565 0 0 1-.098.21.704.704 0 0 1-.044-.025c-.146-.09-.157-.175-.152-.223a.236.236 0 0 1 .117-.173c.049-.027.08-.021.113.012a.202.202 0 0 1 .064.199z"/>
                    </svg>
                  </p>
                <% else %>
                  <p class="text-gray-900 hover:text-indigo-900 bg-yellow-200 px-4 py-2 rounded w-fit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
                      <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                    </svg>
                  </p>
                <% end %>
              </td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= link_to "Check", item_path(item), class:"text-gray-900 hover:text-indigo-900 bg-indigo-200 px-2 py-2 rounded" %></td>
          </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const chartsButton = document.getElementById("charts");
    const chartsArea = document.getElementById("charts-area");
    chartsArea.style.display = "none";

    chartsButton.addEventListener("click", function(event) {
      event.preventDefault();
      if (chartsArea.style.display === "none") {
        chartsArea.style.display = "grid";
      } else {
        chartsArea.style.display = "none";
      }
    });
  });
</script>
