<div class="md:flex justify-between">
  <% if user_signed_in? %>
    <h3 class="text-3xl font-medium text-slate-800">Welcome to your inventory
    <%= current_user.discord %> 🎉</h3>
  <%else%>
    <h3 class="text-3xl font-medium text-slate-800">Welcome to your inventory 🎉</h3>
  <% end %>
  <a href="/items/new">
    <button class="px-4 py-2 w-full my-2 md:my-0 font-medium tracking-wide text-white transition-colors duration-200 transform bg-gray-600 rounded-md hover:bg-gray-500 focus:outline-none focus:bg-indigo-500">
      Add an item
    </button>
  </a>
</div>

<div class="flex justify-between bg-indigo-200 shadow-md rounded p-2 mt-6 px-3">
  <div class="text-slate-700" >Have you seen a bug ? Please report it</div>
  <div>
    <a href="https://discordapp.com/users/676368725380956180">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
    </svg>
    </a>
  </div>
</div>
<!-- RESUME OF YOUR SELLER'S PROFILE-->
<div class="flex flex-col md:justify-between py-4 md:flex-row md:gap-4">
  <div class="bg-gray-200 p-8 md:w-1/3 w-full rounded shadow-sm relative">
    <h2 class="font-medium text-xl text-center">
    <%= @items.size %> items
    </h2>
    <div class="absolute bg-gray-400 top-0 left-0 p-1 rounded-br rounded-tl text-sm">Current stock</div>
  </div>
  <div class="bg-gray-200 p-8 md:w-1/3 w-full rounded shadow-sm relative">
    <h2 class="font-medium text-xl text-center">
      1025€
    </h2>
    <div class="absolute bg-gray-400 top-0 left-0 p-1 rounded-br rounded-tl text-sm">Sales last 30 days</div>
  </div>
  <div class="bg-gray-200 p-8 md:w-1/3 w-full rounded shadow-sm relative">
    <h2 class="font-medium text-xl text-center">
      25 sales
    </h2>
    <div class="absolute bg-gray-400 top-0 left-0 p-1 rounded-br rounded-tl text-sm">Sales last 30 days</div>
  </div>
  <div class="bg-gray-200 p-8 md:w-1/3 w-full rounded shadow-sm relative">
    <h2 class="font-medium text-xl text-center">
      25065€
    </h2>
    <div class="absolute bg-gray-400 top-0 left-0 p-1 rounded-br rounded-tl text-sm">Sleeping value</div>
  </div>
</div>
<!-- TABLE OF ITEMS -->
<div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8 ">
    <div  class="flex h-8 items-center justify-between my-5">
      <h2 class="text-xl font-medium tracking-wide text-slate-700">
        Your last items
      </h2>
      <a href="/shoes" class="border-b border-b-slate-800 pb-0.5 text-xs+ font-medium text-slate-800">View All</a>
    </div>
    <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg rounded">

      <table class="min-w-full">
        <thead>
          <tr>
            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
              Name
            </th>
            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
              Sku
            </th>
             <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
              Brand
            </th>
            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
              Size
            </th>
            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
              Retailer
            </th>
            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
              Purchase price
            </th>
            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
              Purchase date
            </th>
            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-slate-800 uppercase border-b border-gray-200 bg-gray-200">
            </th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr>
            <% @items = Item.order(created_at: :desc).take(30) %>
            <% @items.take(30).each do |item| %>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= item.name %></td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= item.sku %></td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= item.brand %></td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= item.size %></td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= item.sku %></td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= item.retail %> €</td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= item.sku %></td>
              <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><%= link_to "Check", item_path(item), class:"text-gray-900 hover:text-indigo-900 bg-indigo-200 px-2 py-2 rounded" %></td>
          </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
