<div class="flex justify-between items-center">
  <div>
    <h1 class="text-4xl">
      <%= @item.name%>
    </h1>
  </div>
  <div>
  <!-- DD Button -->
    <button id="dropdownDefault" data-dropdown-toggle="dropdown" class="text-white bg-[#082032] hover:bg-[#213647] font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center" type="button">Actions<svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
    <!-- MENU -->
    <div id="dropdown" class="hidden z-10 w-40 bg-white rounded divide-y divide-gray-100 shadow 0">
      <ul class="text-md text-gray-700" aria-labelledby="dropdownDefault">
        <li class="my-2">
          <%= link_to edit_item_path(@item) do %>
            <p class="text-gray-600 text-white px-3 rounded-md">Edit</p>
          <% end %>
        </li>
        <li class="my-2">
          <% if @item.sold == false %>
            <%= link_to new_item_sale_path(@item) do %>
              <p class="text-gray-600  text-white px-3 rounded-md">Sold</p>
            <%end%>
          <% end %>
        </li>
        <li class="my-2">
          <%= button_to item_path(@item), method: :delete do %>
            <p class="text-gray-600 text-white px-3 rounded-md">Delete</p>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- END -->
  </div>
</div>
<!-- ITEM'S INFO -->
<div class="grid grid-cols-2 mt-10 gap-6">
  <!-- PURCHASE'S DETAILS -->
  <div>
    <h2 class="font-medium text-xl text-left mb-2 bg-indigo-100 rounded pr-5 pl-1 w-fit">
      Purchase's details
    </h2>
    <table class="table-fixed border-separate border-spacing-x-4 border-spacing-y-2">
      <tbody>
        <tr>
          <td>Name</td>
          <td><%= @item.name%></td>
        </tr>
        <tr>
          <td>Brand</td>
          <td><%= @item.brand%></td>
        </tr>
        <tr>
          <td>Size</td>
          <td><%= @item.size%></td>
        </tr>
        <tr>
          <td>Retail</td>
          <td><%= @item.retail%>€</td>
        </tr>
        <tr>
          <td>State</td>
          <td><%= @item.state.capitalize%></td>
        </tr>
        <tr>
          <td>Purchase date</td>
          <td><%= @item.purchase_date.strftime("%d/%m/%Y")%></td>
        </tr>
        <tr>
          <td>Comment</td>
          <td>
          <% if @item.comment == nil %>
            <%= @item.comment%>
            <% else %>
            <p>None</p>
          <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- SALE'S DETAILS -->
  <div>
    <h2 class="font-medium text-xl text-left mb-2 bg-indigo-100 rounded pr-5 pl-1 w-fit">
      Sale's details
    </h2>
    <% if @item.sold == true %>
      <table class="table-fixed border-separate border-spacing-x-4 border-spacing-y-2">
        <tbody>
          <tr>
            <td>Sale's price</td>
            <td><%= @item.name%></td>
          </tr>
          <tr>
            <td>Sale's date</td>
            <td><%= @sale_date.strftime("%d/%m/%Y") %></td>
          </tr>
          <tr>
            <td>Stocking period</td>
            <td><%= @stocking_period.floor %> days</td>
          </tr>
          <tr>
            <td>Benefit made</td>
            <td>
              <% if @benefit >= 0 %>
                <p class="text-green-700">
                  <%= @benefit %>€
                </p>
                <% else %>
                  <p class="text-red-700">
                    <%= @benefit %>€
                </p>
              </p>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Benefit made by stocking's day </td>
            <td><%= @benefit_daily.floor %> €/days</td>
          </tr>
          <tr>
            <td>Sale's platform</td>
            <td><%= @sale_platform %></td>
          </tr>
          <tr>
            <td>Comment</td>
            <td>
            <% if @sale_comment == nil %>
              <p>None</p>
              <% else %>
              <%= @sale_comment%>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    <% else %>
      <h3>Item not sold yet !</h3>
    <% end %>
  </div>
</div>
<!-- END -->
<script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>
