<div class="flex justify-between items-center">
  <div>
    <h1 class="text-4xl">
      <%= @item.name%>
    </h1>
  </div>
  <div>
    <%= link_to edit_item_path(@item) do %>
      <button class="bg-gray-700 font-medium text-lg text-white px-3 rounded-md">Edit</button>
    <% end %>
    <%= link_to item_path(@item), method: :delete do %>
      <button class="bg-gray-700 font-medium text-lg text-white px-3 rounded-md">Edit</button>
    <% end %>
    <% if @item.sold == false %>
      <%= link_to new_item_sale_path(@item) do %>
        <button class="bg-green-700 font-medium text-lg text-white px-3 rounded-md">Sold</button>
      <%end%>
    <% end %>
</div>
</div>
<div class="flex flex-col">
  <div>
    <%= @item.brand%>
  </div>
  <div>
    <%= @item.retail%> €
  </div>
   <div>
    <%= @item.purchase_date.strftime("%d/%m/%Y")%>
  </div>
  <div>
    EU<%= @item.size%>
  </div>
  <div>
    State:<%= @item.state%>
  </div>
  <div>
    <%= @item.comment%>
  </div>
  <div>
    <% if @item.sold == true %>
      <p>Status: sold</p>
      <p>Sale price: <%= @sale_price %>€</p>
      <p>Befenit made:
        <% if @benefit >= 0 %>
         <p class="text-green-700">
          <%= @benefit %>€
         </p>
        <% else %>
          <p class="text-red-700">
            <%= @benefit %>€
         </p>
      </p>
      <% end %>

    <% else %>
      <p>Status: instock</p>
    <% end %>
  </div>
</div>
