<div class="flex justify-between items-center">
  <h1 class="text-4xl">
    <%= @item.name%>
  </h1>
  <%= link_to edit_item_path(@item) do %>
    <button class="bg-gray-700 font-medium text-xl text-white px-3 rounded-md">Edit</button>
  <% end %>
</div>
<div class="flex flex-col">
  <div>
    <%= @item.brand%>
  </div>
  <div>
    <%= @item.retail%> €
  </div>
  <div>
    EU<%= @item.size%>
  </div>
  <div>
    State:<%= @item.state%>
  </div>
  <div>
    <%= @item.comment%>
  </div>
</div>
