<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👟</text></svg>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <% if user_signed_in? %>
    <div class="flex">
      <aside>
        <%= render "shared/navbar"%>
      </aside>
      <main class="p-6 w-full h-screen">
        <div class="relative">
          <%= yield %>
          <%= render 'shared/flash'%>
        </main>
        </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
</html>
